body{
   background-image: url(./img/imagenfondo1.jpg);
    background-size: cover;
   /* background-repeat: no-repeat; */
    background-color: rgb(180, 255, 243);
    color: rgb(0, 16, 158);
    font-size: 1em;
  /* font-weight: 200; */
}
h1{
  background-color: rgba(0, 255, 255, 0.521);
  color: rgb(0, 16, 163);
  font-family: "Tilt Prism", sans-serif;
}
h3{
    background-color: aqua;
    font-family: "Tilt Prism", sans-serif;
}
.section1{
  display: inline-block;
  background-color: rgba(0, 255, 255, 0.822);
}
.section2{
  width: 49%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.801);
}
.section3{
  width: 49%;
  background-color: rgba(255, 255, 255, 0.801);
  display: inline-block;
}
#ex_section{
  padding-top: 42px;
}
img{
  width: 9%;
}
#pp_section{
  width: 90%;
}
nav{
  display: inline-block;
}
button{
  background-color: aqua;
}