body{
  /* background-image: url(./img/imagenfondo1.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
    background-color: rgb(180, 255, 243);
    color: rgb(0, 16, 158);
    text-align: center;
    font-size: 1em;
  /* font-weight: 200; */
}
h1{
    color: rgb(0, 16, 163);
    font-family: "Tilt Prism", sans-serif;
}
h3{
    background-color: aqua;
}
.section_color{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}