body{
   background-image: url(./img/imagenfondo1.jpg);
    background-size: cover;
   /* background-repeat: no-repeat; */
    background-color: rgb(180, 255, 243);
    color: rgb(0, 16, 158);
    font-size: 1em;
  /* font-weight: 200; */
}
h1{
    color: rgb(0, 16, 163);
    font-family: "Tilt Prism", sans-serif;
}
h3{
    background-color: aqua;
    font-family: "Tilt Prism", sans-serif;
}
.section_color{
  background-color: rgb(255, 255, 255);
}
#section1{
  display: inline;
  position: relative;
  left: 30px; 
}